<!-- <div class="horizontal-scroll" data-ng-init="vm.init()"> -->
<div class="horizontal-scroll">
  <div class="form-group ">
    <div class="col-md-6">
      <label>Rows on page
        <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
        </select>
      </label>
    </div>
    <div class="col-md-6 align-right">
      <button title="Nuevo usuario" ng-click="vm.newUser()" ng-show="vm.userIsAllowed()" type="button" class="btn btn-primary btn-icon"><i class="ion-android-person-add"></i></button>
    </div>
  </div>
  <table class="table" st-table="vm.smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="samId" st-sort-default="true">#</th>
      <th st-sort="username">Email</th>
      <th st-sort="description">Nombre</th>
      <th st-sort="role">Rol</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="username" placeholder="Buscar por Email" class="input-sm form-control search-input" type="search"/></th>
      <th><input st-search="description" placeholder="Buscar por Nombre" class="input-sm form-control search-input" type="search"/></th>
      <th><input st-search="role" placeholder="Buscar por Rol" class="input-sm form-control search-input" type="search"/></th>
      <th></th>
      
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in vm.smartTableData">
      <td class="table-id">{{user.samId}}</td>
      <td><a href ng-click="vm.editUser(user)">{{user.username}}</a></td>
      <td>{{user.description}}</td>
      <td>{{user.role}}</td>
      <td>
        <button title="Editar" ng-click="vm.editUser(user)" class="btn btn-primary editable-table-button btn-xs btn-icon"><i class="ion-edit"></i></button>
        <button title="Borrar"  ng-click="vm.deleteUser(user)" class="btn btn-danger editable-table-button btn-xs btn-icon"><i class="ion-trash-a"></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>